<a href="https://colab.research.google.com/github/luiz-bcardoso/UFN-DataScience/blob/main/pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

---

### Usando Series

In [4]:
vendas = pd.Series([100,200,300,250], index=['Jan', 'Fev', 'Mar', 'Abr'])
print(vendas)

Jan    100
Fev    200
Mar    300
Abr    250
dtype: int64

In [5]:
# Exibindo a estrutura e descrição
print(vendas.info())
print(vendas.describe())

<class 'pandas.core.series.Series'>
Index: 4 entries, Jan to Abr
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      int64
dtypes: int64(1)
memory usage: 64.0+ bytes
None
count      4.000000
mean     212.500000
std       85.391256
min      100.000000
25%      175.000000
50%      225.000000
75%      262.500000
max      300.000000
dtype: float64

In [6]:
# Pegando dados do cabeçalho e rodapé
print(vendas.head(2))
print(vendas.tail(2))

Jan    100
Fev    200
dtype: int64
Mar    300
Abr    250
dtype: int64

In [7]:
# Quantidade, total, média, mediana, máximo, mínimo e desvio padrão
print(f"Quantidade: {vendas.count()} meses")
print(f"Total: R$ {vendas.sum()}")
print(f"Média: R$ {vendas.mean()}")
print(f"Mediana: R$ {vendas.median()}")
print(f"Máximo: R$ {vendas.max()}")
print(f"Mínimo: R$ {vendas.min()}")
print(f"Desvio Padrão: R$ {vendas.std():.2f}")

Quantidade: 4 meses
Total: R$ 850
Média: R$ 212.5
Mediana: R$ 225.0
Máximo: R$ 300
Mínimo: R$ 100
Desvio Padrão: R$ 85.39

In [8]:
#Acessando os dados diretamente
print(vendas['Jan'])
print(vendas['Jan':'Mar'])

# Acessando os dados por posição
print(vendas[0])
print(vendas[0:3])

# Acessando usando loc e iloc
print(vendas.loc['Jan'])
print(vendas.loc['Jan':'Mar'])
print(vendas.iloc[0])
print(vendas.iloc[0:3])

100
Jan    100
Fev    200
Mar    300
dtype: int64
100
Jan    100
Fev    200
Mar    300
dtype: int64
100
Jan    100
Fev    200
Mar    300
dtype: int64
100
Jan    100
Fev    200
Mar    300
dtype: int64

C:\Users\laboratorio\AppData\Local\Temp\ipykernel_12736\743239149.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(vendas[0])

In [9]:
valor_min = 200
valor_max = 280

In [10]:
#Filtragem de dados
filtro = (vendas >= valor_min) & (vendas <= valor_max)
print(filtro,'\n')
print(vendas[filtro])

Jan    False
Fev     True
Mar    False
Abr     True
dtype: bool

Fev    200
Abr    250
dtype: int64

In [11]:
# Filtragem de dados
print(f"Os meses de venderam entre {valor_min} a {valor_max} foram {vendas[filtro].index.tolist()}")
print(f"Com vendas de R$ {vendas[filtro].values.tolist()}")

Os meses de venderam entre 200 a 280 foram ['Fev', 'Abr']
Com vendas de R$ [200, 250]

---

### Usando DataFrame

In [12]:
dados = {
    'produto' : ['sorvete', 'refrigerante', 'batata frita'],
    'preco'   : [8.00, 5.50, 7.00],
    'estoque' : [120, 85, 60]
}

df = pd.DataFrame(dados)
df

        produto  preco  estoque
0       sorvete    8.0      120
1  refrigerante    5.5       85
2  batata frita    7.0       60

In [13]:
df.describe()

          preco     estoque
count  3.000000    3.000000
mean   6.833333   88.333333
std    1.258306   30.138569
min    5.500000   60.000000
25%    6.250000   72.500000
50%    7.000000   85.000000
75%    7.500000  102.500000
max    8.000000  120.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   produto  3 non-null      object
 1   preco    3 non-null      float64
 2   estoque  3 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

In [15]:
print(df.dtypes)

# Convertendo o tipo de dado de int para string
df['estoque'] = df['estoque'].astype('str')

print(df.dtypes)

# Retornando para inteiro
df['estoque'] = df['estoque'].astype('int32')

print(df.dtypes)

produto     object
preco      float64
estoque      int64
dtype: object
produto     object
preco      float64
estoque     object
dtype: object
produto     object
preco      float64
estoque      int32
dtype: object

In [16]:
# Calculando e armazenando o valor total do estoque
df['valor_total'] = df['preco'] * df['estoque']
df

        produto  preco  estoque  valor_total
0       sorvete    8.0      120        960.0
1  refrigerante    5.5       85        467.5
2  batata frita    7.0       60        420.0

In [17]:
# Removendo a coluna valor_total
df = df.drop(columns=['valor_total'])
df

        produto  preco  estoque
0       sorvete    8.0      120
1  refrigerante    5.5       85
2  batata frita    7.0       60

---

### Exemplos reais usando pandas (df)

In [18]:
dados_bike = {
'dia': ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
'alugueis': [32, 41, 35, 39, 60, 150, 140],
'chuva': [True, False, True, False, False, False, True]
}
df_bike = pd.DataFrame(dados_bike)

df_bike

   dia  alugueis  chuva
0  Seg        32   True
1  Ter        41  False
2  Qua        35   True
3  Qui        39  False
4  Sex        60  False
5  Sab       150  False
6  Dom       140   True

In [19]:
# Dias em que o aluguel foi maior que 50
filtro = (df_bike['alugueis'] > 50) 
df_bike[filtro]

   dia  alugueis  chuva
4  Sex        60  False
5  Sab       150  False
6  Dom       140   True

In [20]:
# Total de alugueis nos dias sem chuva
dias_sem_chuva = (df_bike['chuva'] == False)
print(f"Dias sem chuva: {df_bike[dias_sem_chuva]['alugueis'].sum()} alugueis")
print(f"Dias com chuva: {df_bike[~dias_sem_chuva]['alugueis'].sum()} alugueis")

Dias sem chuva: 290 alugueis
Dias com chuva: 207 alugueis

In [21]:
# Média de alugueis nos dias chuvosos e sem chuva
print(f"Media com chuvas: {df_bike[~dias_sem_chuva]['alugueis'].mean()}")
print(f"Media sem chuvas: {df_bike[dias_sem_chuva]['alugueis'].mean()}")

Media com chuvas: 69.0
Media sem chuvas: 72.5

In [22]:
def verificar_movimento(alguel):
    if alguel >= 50:
        return 'Movimentado'
    else:
        return 'Calmo'

In [23]:
#df['valor_total'] = df['preco'] * df['estoque']
df_bike['movimento'] = df_bike['alugueis'].apply(verificar_movimento)
df_bike

   dia  alugueis  chuva    movimento
0  Seg        32   True        Calmo
1  Ter        41  False        Calmo
2  Qua        35   True        Calmo
3  Qui        39  False        Calmo
4  Sex        60  False  Movimentado
5  Sab       150  False  Movimentado
6  Dom       140   True  Movimentado

---

### Carregando dados usando fontes externas

In [24]:
df_glicose = pd.read_csv('https://raw.githubusercontent.com/RobertsonWeb/materiais-numpy-pandas/refs/heads/main/datasets/glicose_data_suja.csv', sep=',')
df_glicose

,Dia Semana,Data,Antes Comer / Depois Comer,Resultado,Dose Insulina,kcal,carb,noite de sono,padel,musculacao R,musculacao H,pilates,corrida,caminhada,tenis,sauna,bike,natacao,eliptico,volei de areia
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1-May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sexta,2012.0,ac,96.0,6.0,2714.0,309.0,4,0.0,60.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Sábado,2012.0,ac,90.0,6.0,2665.0,334.0,4,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Domingo,2012.0,ac,105.0,6.0,2008.0,262.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Segunda,2012.0,ac,86.0,6.0,2117.0,291.0,5,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,Segunda,2014.0,ac,98.0,12.0,2626.0,157.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
721,Terça,2014.0,ac,92.0,12.0,2296.0,276.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
722,Quarta,2014.0,ac,91.0,12.0,2453.0,177.0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
723,Quinta,2014.0,ac,99.0,12.0,2565.0,246.0,4,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
724,Sexta,2014.0,ac,93.0,12.0,NaN,NaN,5,0.0,0.0,50.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df_glicose.dtypes

Dia Semana                      object
Data                           float64
Antes Comer / Depois Comer      object
Resultado                      float64
Dose Insulina                  float64
kcal                           float64
carb                           float64
noite de sono                   object
padel                          float64
musculacao R                   float64
musculacao H                   float64
pilates                        float64
corrida                        float64
caminhada                      float64
tenis                          float64
sauna                          float64
bike                           float64
natacao                        float64
eliptico                       float64
volei de areia                 float64
dtype: object

In [26]:
df_glicose.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Dia Semana                   724 non-null    object
 1   Data                         724 non-null    float64
 2   Antes Comer / Depois Comer   723 non-null    object
 3   Resultado                    724 non-null    float64
 4   Dose Insulina                724 non-null    float64
 5   kcal                         723 non-null    float64
 6   carb                         723 non-null    float64
 7   noite de sono                724 non-null    object
 8   padel                        724 non-null    float64
 9   musculacao R                 724 non-null    float64
 10  musculacao H                 724 non-null    float64
 11  pilates                      724 non-null    float64
 12  corrida                      724 non-null    float64
 13  caminhada                    724 non-null    float64
 14  tenis                        724 non-null    float64
 15  sauna                        724 non-null    float64
 16  bike                         724 non-null    float64
 17  natacao                      724 non-null    float64
 18  eliptico                     724 non-null    float64
 19  volei de areia               724 non-null    float64
dtypes: float64(17), object(3)
memory usage: 113.4+ KB

In [27]:
df_glicose.describe()

,Data,Resultado,Dose Insulina,kcal,carb,padel,musculacao R,musculacao H,pilates,corrida,caminhada,tenis,sauna,bike,natacao,eliptico,volei de areia
count,724.000000,724.000000,724.000000,723.000000,723.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000
mean,2012.988950,94.357735,8.519337,2412.214385,249.625173,20.476519,1.595304,3.487569,2.299724,0.559392,3.176796,6.450276,0.214088,6.250000,0.614641,0.345304,1.767956
std,0.721064,8.726389,2.172610,447.293402,51.209464,38.086322,8.031097,12.458445,10.319646,4.584906,15.448275,20.171369,1.741137,30.943972,4.065760,3.441604,9.743389
min,2012.000000,71.000000,4.000000,1178.000000,110.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,89.000000,6.000000,2108.500000,212.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2013.000000,94.000000,8.000000,2377.000000,251.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2014.000000,100.000000,10.000000,2692.000000,287.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2014.000000,140.000000,12.000000,3792.000000,433.000000,150.000000,60.000000,60.000000,50.000000,55.000000,120.000000,150.000000,15.000000,440.000000,45.000000,50.000000,90.000000

In [28]:
#Removendo a primeira linha por conter sujeira
df_glicose = df_glicose.drop(index=0)
df_glicose

,Dia Semana,Data,Antes Comer / Depois Comer,Resultado,Dose Insulina,kcal,carb,noite de sono,padel,musculacao R,musculacao H,pilates,corrida,caminhada,tenis,sauna,bike,natacao,eliptico,volei de areia
1,Sexta,2012.0,ac,96.0,6.0,2714.0,309.0,4,0.0,60.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Sábado,2012.0,ac,90.0,6.0,2665.0,334.0,4,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Domingo,2012.0,ac,105.0,6.0,2008.0,262.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Segunda,2012.0,ac,86.0,6.0,2117.0,291.0,5,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Terça,2012.0,ac,86.0,6.0,2139.0,243.0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,Segunda,2014.0,ac,98.0,12.0,2626.0,157.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
721,Terça,2014.0,ac,92.0,12.0,2296.0,276.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
722,Quarta,2014.0,ac,91.0,12.0,2453.0,177.0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
723,Quinta,2014.0,ac,99.0,12.0,2565.0,246.0,4,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
724,Sexta,2014.0,ac,93.0,12.0,NaN,NaN,5,0.0,0.0,50.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Pega todos os valores únicos, detecta-se que há duas ocorrencias de Sábado
df_glicose['Dia Semana'].unique()

filtro = df_glicose['Dia Semana'] == 'Sábado'
df_glicose['Dia Semana'][filtro].count()

np.int64(77)

In [30]:
filtro = df_glicose['Dia Semana'] == 'Sabado'
df_glicose['Dia Semana'][filtro].count()

np.int64(26)

In [31]:
# Substitui o valor errado de 'sabado' para 'Sábado usando replace
df_glicose['Dia Semana'] = df_glicose['Dia Semana'].replace('Sabado', 'Sábado')
df_glicose['Dia Semana'].unique()

array(['Sexta', 'Sábado', 'Domingo', 'Segunda', 'Terça', 'Quarta',
       'Quinta'], dtype=object)

In [32]:
# Verifica inconcistência de dados
df_glicose['Antes Comer / Depois Comer '].unique()

array(['ac', nan], dtype=object)

In [33]:
# É conhecido que somente há ocorrencias de ac, logo os N/a podem ser substituidos
df_glicose['Antes Comer / Depois Comer '].fillna('ac', inplace=True)
df_glicose['Antes Comer / Depois Comer '].unique()

C:\Users\laboratorio\AppData\Local\Temp\ipykernel_12736\660824961.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_glicose['Antes Comer / Depois Comer '].fillna('ac', inplace=True)

array(['ac'], dtype=object)

In [34]:
# Verifica a existêcia de valores nulos
df_glicose['carb'].isna().sum()

np.int64(1)

In [35]:
#Trocando valor nulo por meiana (valor estimado)
mediana_carb = df_glicose['carb'].median()
df_glicose['carb'].fillna(mediana_carb, inplace=True)

C:\Users\laboratorio\AppData\Local\Temp\ipykernel_12736\2121913118.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_glicose['carb'].fillna(mediana_carb, inplace=True)

In [36]:
df_glicose['carb'].isna().any()

np.False_

---

In [37]:
# 1. Total de dias em que a dose de insulina foi maior que 10?
filtro = df_glicose['Dose Insulina'] > 10
df_glicose[filtro]['Dose Insulina'].count()

np.int64(104)

In [38]:
# Mostrando os dias que correu
filtro = (df_glicose['corrida'] > 0)
df_glicose[filtro]

,Dia Semana,Data,Antes Comer / Depois Comer,Resultado,Dose Insulina,kcal,carb,noite de sono,padel,musculacao R,musculacao H,pilates,corrida,caminhada,tenis,sauna,bike,natacao,eliptico,volei de areia
1,Sexta,2012.0,ac,96.0,6.0,2714.0,309.0,4,0.0,60.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Segunda,2012.0,ac,97.0,4.0,2113.0,298.0,4,0.0,40.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,Terça,2012.0,ac,89.0,6.0,2526.0,294.0,3,0.0,30.0,0.0,0.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,Sábado,2012.0,ac,94.0,6.0,2486.0,186.0,4,0.0,0.0,15.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,Domingo,2012.0,ac,100.0,6.0,2462.0,281.0,5,0.0,0.0,0.0,0.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
207,Segunda,2013.0,ac,81.0,6.0,1654.0,212.0,4,60.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,Sábado,2013.0,ac,89.0,8.0,1973.0,267.0,4,0.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
314,Quarta,2013.0,ac,99.0,8.0,2288.0,245.0,5,0.0,0.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
446,Terça,2013.0,ac,95.0,10.0,2838.0,306.0,NaN,0.0,0.0,20.0,0.0,25.0,0.0,0.0,10.0,0.0,0.0,20.0,0.0
453,Terça,2013.0,ac,92.0,10.0,2135.0,246.0,4,0.0,0.0,0.0,0.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
457,Sábado,2013.0,ac,100.0,10.0,3334.0,273.0,3,0.0,0.0,0.0,0.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
458,Domingo,2013.0,ac,109.0,10.0,2731.0,258.0,4,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
538,Sexta,2013.0,ac,86.0,10.0,2552.0,316.0,3,30.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
# Quantas vezes a Dose Insulina foi maior que 10 quando 
# SE jogou padel OU praticou-se Musculacao H OU praticou-se Musculacao R
filtro = (df_glicose['Dose Insulina'] > 10) & (
            (df_glicose['padel'] > 0) | 
            (df_glicose['musculacao R'] > 0) | 
            (df_glicose['musculacao H'] > 0)
        )
df_glicose[filtro]['Dose Insulina'].count()

np.int64(37)